.workspace {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  display: flex;
}

.fileMenu {
  flex: 1;
  border: 1px solid #000;
  overflow-y: auto;
}

.editor {
  flex: 1;
  display: flex;
  border: 1px solid #000;
}
